<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TelerikWinFormsNominaDocente.Properties.Settings.ineiNominaDocentesConnectionString"
      connectionString="Data Source=HP-OMEN-15;Initial Catalog=ineiNominaDocentes;Persist Security Info=True;User ID=sa;Password=cereal123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    
  </startup>
  <appSettings>
    <add key="TelerikWinFormsThemeName" value="Fluent" />
  </appSettings>
</configuration>